body {
    background-color:black;
    font-family: arial;
    color:white;
}

h1 {
    color:grey;
    font-family: verdana;
}

.maindiv {
    background-color: white;
    color:black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
}

label {
    display: inline-block;
    width: 90px;
    margin: 0px 0px 15px 0px;
}

.inputVals {
    background-color: yellow;
}

